
<ion-view view-title="show">
  <ion-content class="padding">



    <label class="item item-input">
      <span class="input-label">Number</span>
      <input type="number" ng-model="id">
    </label>

    <button class="button button-full button-positive" ng-click="read(id)">
      are you sure?
    </button>
    {{data}}

    <ion-item class="item item-thumbnail-left" >
      <img ng-src="{{data.image_path}}">

      <p>{{data.first}}</p>
      <p>{{data.last}}</p>
      <p>{{data.expertise}}</p>
      <p>{{data.contact}}</p>
      <p>{{data.id}}</p>






    </ion-item>

  </ion-content>
</ion-view>
